workflows/my-workflow-26.json
{
  "updatedAt": "2026-06-15T13:57:38.632Z",
  "createdAt": "2026-06-15T13:49:49.486Z",
  "id": "pJdLaqiPwZimB8FM",
  "name": "My workflow 26",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a7169998-a95f-476a-8323-4862f154078a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"workflowId\": \"wmZcSSqS97Dyal7K\",\n  \"workflowName\": \"my-workflow-23\",\n  \"repoOwner\": \"edwinbinu07\",\n  \"repoName\": \"n8n-version-control-poc\",\n  \"filePath\": \"workflows/test3/edwin/my-workflow-23.json\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f11d617c-fe7e-4549-9c0f-40e82602f38b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://n8n-automation-test3.iohealth.com/api/v1/workflows/{{$json.workflowId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "943e435a-a705-410b-a531-16ae57a51656",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b3fb3aad-1542-4559-861c-a2c0832e53e5",
  "activeVersionId": null,
  "versionCounter": 12,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-15T13:49:49.488Z",
      "createdAt": "2026-06-15T13:49:49.488Z",
      "role": "workflow:owner",
      "workflowId": "pJdLaqiPwZimB8FM",
      "projectId": "DGOxBB0EAKjucbcz",
      "project": {
        "updatedAt": "2026-02-19T17:09:04.960Z",
        "createdAt": "2026-02-19T16:44:33.941Z",
        "id": "DGOxBB0EAKjucbcz",
        "name": "Admin n8n <admin@n8n.iohealth.im>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "25a4375d-9192-44f3-8669-208ce86b1a29"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}